@model IEnumerable<Student_MVC.Models.student>

@{
    ViewBag.Title = "Index";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h2>Index</h2>

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info ">
        <strong>Info ! </strong>   @TempData["InfoMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}

else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success ">
        <strong>Success ! </strong>   @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error ! </strong>   @TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}


<p>
    @Html.ActionLink("Add new Student details ", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.studentID }, new { @class = "btn btn-primary" }) &nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Details", "Details", new { id = item.studentID }, new { @class = "btn btn-success" })&nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Delete", "Delete", new { id = item.studentID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
